{% extends "master.html"  %}

{% block title %}
   Mini Search Engine
{% endblock %}

{% block content %}
    <h1 class="w3-narrow w3-center">WELCOME TO THE MINI SEARCH ENGINE DEMO</h1>
    <h3 class="w3-narrow w3-center"><a style="text-decoration:none" href="/textRecords">•Show all text records</a></h3>
    <h3 class="w3-narrow w3-center"><a style="text-decoration:none" href="/searchResults">•Search existing records</a></h3>
    <h3 class="w3-narrow w3-center"><a style="text-decoration:none" href="/newRecord">•Create new text record</a></h3>
{% endblock %}